<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Голосовой помощник</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="wrapper screen-height">
    <div class="container">
      <div class="jumbotron__inner">
        <div class="jumbotron__inner-item">
          <h1 id="quest"><span>Вопрос 1:</span> {{ quest.quest }}</h1>
          <p>Отвечайте в микрофон</p>
        </div>
        <div class="jumbotron__inner-form">
          <form>
            <button class="start-stop"type="button" id="start" >Запись</button>
            <button class="pause-button" type="button" id="pause" >Пауза</button>
            <button class="start-stop" type="button" id="stop" >Стоп</button>
            <!-- <a class="btn-update" href="http://127.0.0.1:5000/" role="button">-</a> --> <!--update to html-->
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/js/recorder.js"></script>
  <script src="../static/js/voice.js"></script>
  <script src="../static/js/main.js"></script>
</body>
</html>
